* {
    font-family: 'Roboto', sans-serif;
    
    box-sizing: border-box;
}

/* [all] always shown */
.root {
    width: 100%;
    height: 97vh;

    background-color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* card layout*/
